<div class="row d-flex justify-content-center" *ngIf="image">
  <div class="col-10 d-flex justify-content-center" >
    <img class="w-75"
          src="{{image.webformatURL}}" alt="">
  </div>
  <div class="col-12 d-flex justify-content-center">
    <h5 class="fw-bolder">Tags:{{image.tags}}</h5>
    |
    <h5 class="fw-bolder">Likes:{{image.likes}}</h5>
    |
    <h5 class="fw-bolder">Comments:{{image.comments}}</h5>
  </div>
  <div class="col-10 d-flex justify-content-center">
    <a class="w-75 btn btn-success"  href="{{image.pageURL}}">See original page</a>
  </div>
</div>
